<div class="container">

  <table>
    <tr>
      <th>Meetings</th>
      <th>Groups </th>
    </tr>
    <tr>
      <% @meetings.each do|meeting| %>
      <td><%= meeting.leader.name%></td>
      <td><%= meeting.group.topic%></td>
    </tr>
    <tr>
      <td><%= meeting.description %></td>
      <td><%=meeting.group.topic%></td>
    </tr>
    <tr>
      <td><%= meeting.time %></td>
      <td><%= meeting.group.topic %></td>
      <% end %>
    </tr>
  </table>
  <button><a href="/meetings/new">Create new meeting</a>
</button>

</div>
<br>
